* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
#header01 {
  display: table;
  width: 100%;
}
#file-name {
  display: table-cell;
  text-align: left;
}
#last-modified {
  display: table-cell;
  text-align: right;
  font-size: small;
}
#header02 {
  text-align: right;
}
#footer {
  display: table;
  width: 100%;
}
#footer01 {
  display: table-cell;
  text-align: left;
}
#footer02 {
  display: table-cell;
  text-align: right;
}
#button-download {
  vertical-align: middle;
}
#enter-fullscreen {
  vertical-align: middle;
}
#elapsed-area {
  margin-left: 4px;
  margin-right: 4px;
}
#fps-area {
  margin-left: 4px;
  margin-right: 4px;
}
#frametime-area {
  margin-left: 4px;
  margin-right: 4px;
}
#compiler-messages {
  color: red;
  background-color: black;
  overflow: auto;
  width: 100%;
  resize: none;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
.tab-label {
  color: White;
  background: LightGray;
  margin-right: 5px;
  padding: 3px 12px;
  order: -1;
}
.tab-content {
  width: 100%;
  display: none;
}
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
#tab-area:has(#tab-canvas:checked) ~ #tab-content-canvas,
#tab-area:has(#tab-trans-vert:checked) ~ #tab-content-trans-vert,
#tab-area:has(#tab-trans-frag:checked) ~ #tab-content-trans-frag {
  display: block;
}
.tab-switch {
  display: none;
}
.translated-code {
  color: white;
  background-color: black;
  overflow: auto;
  width: 100%;
  resize: none;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
