* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
#header02 {
  text-align: right;
}
#elapsed-area {
  margin-left: 4px;
  margin-right: 4px;
}
#fps-area {
  margin-left: 4px;
  margin-right: 4px;
}
#compiler-messages {
  color: red;
  background-color: black;
}
